<div class="bookmark-container container">
  <h1>ブックマーク一覧</h1>
  <%= render 'shared/categories', { categories: @user.categories } %>
  <%= render 'shared/categories_new', { category: Category.new, user: @user } %>
  <%= render partial: 'shared/bookmark', collection: @user.bookmarks.order(created_at: :desc).page(params[:page]) %>
  <%= paginate @user.bookmarks.order(created_at: :desc).page(params[:page]), theme: 'bootstrap-5' %>
</div>
