---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=HIgvP7B3Hg8&key=<%= ENV['YOUTUBE_API_KEY'] %>&part=content_details
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"A1s3NIQMqmyPjW-YDMOdVnjVx4w\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"AlwnhSj-Eqo4Noi0ZHSw5w4Z98E\",\n      \"id\": \"HIgvP7B3Hg8\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2020-10-02T17:37:41Z\",\n        \"channelId\":
        \"UCoUM-UJ7rirJYP8CQ0EIaHA\",\n        \"title\": \"Bruno Mars - Runaway Baby
        (Official Lyric Video)\",\n        \"description\": \"The official lyric video
        for Bruno Mars' \\\"Runaway Baby\\\" from the album ‘Doo-Wops & Hooligans’.\\n\\n\U0001F514
        Subscribe for the latest official music videos, live performances, lyric videos,
        official audio, and more ➤ https://Atlantic.lnk.to/BMsubscribe\\n\\nWatch
        All Of Bruno Mars’ Official Music Videos ➤ https://bit.ly/2U7I3mi\\n\\nSee
        Bruno Mars on tour ➤ Visit http://brunomars.com/tour for dates and more info.\\n\\nGet
        Bruno Mars merchandise ➤ https://brunom.rs/brunomarsstore\\n\\nFollow Bruno
        Mars:\\nhttp://www.brunomars.com\\nhttp://www.instagram.com/brunomars\\nhttp://www.twitter.com/brunomars\\nhttp://www.facebook.com/brunomars\\n\\nThe
        official YouTube channel of Atlantic Records artist Bruno Mars. \\n \\n11x
        GRAMMY Award winner and 27x GRAMMY Award nominee Bruno Mars is a celebrated
        singer, songwriter, producer, and musician with iconic hits like \\\"The Lazy
        Song\\\", \\\"That's What I Like\\\", \\\"Just The Way You Are\\\", \\\"24K
        Magic\\\", \\\"Locked Out Of Heaven\\\", and \\\"When I Was Your Man\\\".
        His legendary body of work also includes blockbuster albums such as Doo-Wops
        & Hooligans, Unorthodox Jukebox, and 24K Magic, as well as era-defining collaborations
        like \\\"Uptown Funk\\\" with Mark Ronson, \\\"Finesse\\\" with Cardi B, and
        \\\"Nothin' On You\\\" with B.o.B. Forever classic, yet supremely innovative,
        Bruno continues to redefine music, style, and popular culture, pushing the
        boundaries of pop, R&B, funk, soul, hip-hop, and dance, and remains as influential
        as ever.\\n\\n#BrunoMars #RunawayBaby #DooWopsandHooligans #OfficialLyricVideo
        #AtlanticRecords\",\n        \"thumbnails\": {\n          \"default\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/HIgvP7B3Hg8/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/HIgvP7B3Hg8/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/HIgvP7B3Hg8/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/HIgvP7B3Hg8/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/HIgvP7B3Hg8/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"Bruno Mars\",\n        \"tags\": [\n          \"bruno
        mars\",\n          \"runaway baby\",\n          \"bruno mars runaway baby\",\n
        \         \"bruno runaway baby\",\n          \"doo-wops and hooligans\",\n
        \         \"official lyric video\",\n          \"atlantic records\",\n          \"pop
        music\",\n          \"runaway baby lyric video\",\n          \"bruno mars
        lyric video\",\n          \"runaway baby lyrics\",\n          \"bruno mars
        lyrics\",\n          \"bruno lyric video\",\n          \"bruno mars runaway
        baby lyric video\",\n          \"bruno runaway baby lyric video\",\n          \"bruno
        mars dance songs\",\n          \"dance party\",\n          \"you better run
        away baby\"\n        ],\n        \"categoryId\": \"10\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"localized\": {\n          \"title\": \"Bruno Mars - Runaway
        Baby (Official Lyric Video)\",\n          \"description\": \"The official
        lyric video for Bruno Mars' \\\"Runaway Baby\\\" from the album ‘Doo-Wops
        & Hooligans’.\\n\\n\U0001F514 Subscribe for the latest official music videos,
        live performances, lyric videos, official audio, and more ➤ https://Atlantic.lnk.to/BMsubscribe\\n\\nWatch
        All Of Bruno Mars’ Official Music Videos ➤ https://bit.ly/2U7I3mi\\n\\nSee
    [...]
[...]
