---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=ABCDEFGHIJK&key=<%= ENV['YOUTUBE_API_KEY'] %>&part=content_details
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "YIUPVpqNjppyCWOZfL-19bLb7uk",
          "items": [],
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          }
        }
  recorded_at: Sun, 02 Jun 2024 23:02:17 GMT
recorded_with: VCR 6.2.0
