<% content_for(:title, "退会手続き") %>
<div id="user-confirm" class="container">
  <h3 class="text-center pt-4">退会手続き</h3>
  <div id="user-confirm__row" class="row justify-content-center align-items-center">
    <div id="user-confirm__column" class="col-md-6">
      <div class="user-confirm__text mt-2 mb-4">
        退会手続きをされますと全てのサービスがご利用いただけなくなります。<br>
        再度ご利用いただく場合には新規登録のお手続きが必要になります。<br>
        本当に退会してよろしいですか？
      </div>
      <div class="user-confirm__link text-center d-grid gap-2 d-lg-block">
        <%= link_to "退会する", users_withdrawal_path, data: { turbo_method: :patch, turbo_confirm: "本当に退会しますか？" },
            class: "user-confirm__withdrawal-button btn mx-3" %>
        <%= link_to "退会しない（プロフィールに戻る）", user_path(@user), class: "user-confirm__back-button btn mx-3" %>
      </div>
    </div>
  </div>
</div>
