<ul class="list-group mt-5 mb-5">
  <li class="list-group-item"><%= image_tag video_thumbnail(bookmark.video_id), height: "315", width: "auto" %></li>
  <li class="list-group-item"><%= link_to video_title(bookmark.video_id), bookmark_path(bookmark.id) %></li>
  <li class="list-group-item"><%= bookmark.description %></li>
</ul>
