<% if obj.errors.any? %>
  <div class="error-messages my-3 text-center">
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><i class="bi bi-exclamation-triangle"></i> <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
