<div id="search__row" class="row justify-content-center mt-5 mb-3">
  <div class="search__form-group text-center col-lg-6 col-sm-8">
    <%= search_form_for q do |f| %>
      <%= f.search_field :description_cont, class: "form-control mb-2", autofocus: true %>
      <%= f.submit "検索", class: "search__button btn shadow-sm" %>
    <% end %>
  </div>
</div>
