<table>
  <tr>
    <td><button class="btn" id="timestamp"><%= timestamp.hour %> : <%= timestamp.minute %> : <%= timestamp.second %></button></td>
    <td><%= timestamp.comment %></td>
  </tr>
</table>
