<div id="firstview" class="container px-4 mb-4">
  <%= image_tag "logo.png", class: "firstview__logo img-fluid rounded mx-auto d-block", alt: "推しTube" %>
  <div id="firstview__row" class="row justify-content-center align-items-center">
    <div id="firstview__column" class="col-lg-8 col-md-10 mb-4">
      <div class="firstview__introduction-container text-center lh-base">
        <div class="firstview__introduction-text">
          <p class="mb-5">
            推しTubeは<span class="fw-semibold">時間指定のできるYouTubeブックマーク</span>です。<br>
            動画URLと再生を開始したい時間を登録すれば、<br>
            ボタン1つで見たい時間から何度でも再生できます。<br>
          </p>
          <div class="row mb-4">
            <div class="col-lg-4 mb-2">
              <div class="card h-100 border-0 bg-light">
                <div class="card-body">
                  <i class="bi bi-heart-fill fs-2"></i>
                  <p>推しのこの瞬間を何度でも見たい！</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-2">
              <div class="card h-100 border-0 bg-light">
                <div class="card-body">
                  <i class="bi bi-music-note-beamed fs-2"></i>
                  <p>この曲のサビの部分を何度でも見たい！</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-2">
              <div class="card h-100 border-0 bg-light">
                <div class="card-body">
                  <i class="bi bi-book-half fs-2"></i>
                  <p>勉強中に動画のこの部分を<br>
                    何度も見て復習したい！</p>
                </div>
              </div>
            </div>
          </div>
          <p>そんなときにぜひご活用ください！</p>
        </div>

        <div class="firstview__introduction mb-5">
          <div class="card h-100 border-0 bg-light">
            <div class="card-body py-3">
              <div class="firstview__video-title fw-semibold mb-1">
                <i class="bi bi-magic"></i>
                <span class="fs-3">推しTubeの使い方</span><br>
                <span>（音量にご注意ください）</span>
              </div>
              <div id="firstview-video" class="ratio ratio-16x9 mb-2">
                <iframe src="https://www.youtube.com/embed/1FGpM4-K7qE?si=oxL4jSOuW_gqKUpd" loading="lazy" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </div>
              <div class="firstview__introduction-table">
                <table>
                  <tr>
                    <td><button id="firstview-button0" class="btn firstview__timestamps-button border-tertiary shadow-sm me-4 my-1">0:0:8</button></td>
                    <td> ブックマーク登録</td>
                  </tr>
                  <tr>
                    <td><button id="firstview-button1" class="btn firstview__timestamps-button border-tertiary shadow-sm me-4 my-1">0:0:26</button></td>
                    <td> タイムスタンプ登録</td>
                  </tr>
                  <tr>
                    <td><button id="firstview-button2" class="btn firstview__timestamps-button border-tertiary shadow-sm me-4 my-1">0:0:42</button></td>
                    <td> カテゴリー作成・登録</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <% unless user_signed_in? %>
          <div class="firstview__login mb-4">
            <div class="card h-100 w-100 border-0 bg-light">
              <div class="card-body py-3">
                <div class="fw-semibold mb-3">
                  <i class="bi bi-stars"></i>
                  <span class="fs-3">ゲストログイン・新規登録</span>
                </div>
                <div class="d-grid gap-2 d-md-block mb-3">
                  <%= link_to "登録せずに使う（ゲストログイン）",
                  users_guest_sign_in_path,
                  data: { turbo_method: :post },
                  class: "btn shadow-sm header__login-button mx-2" %>
                  <%= link_to "新規登録", new_user_registration_path, class: "btn shadow-sm header__registration-button mx-2" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
