<div id="firstview" class="container">
  <h1 class="firstview-title">推しTube</h1>
  <div id="firstview__row" class="row justify-content-center align-items-center">
    <div id="firstview__column" class="col-md-10">
      <%= button_to "ゲストログイン", users_guest_sign_in_path, data: { turbo_method: :post }, class: "btn btn-light" %>
    </div>
  </div>
</div>
