<div id="firstview" class="container px-4">
  <h1 class="firstview-title text-center mb-5">推しTube</h1>
  <div id="firstview__row" class="row justify-content-center align-items-center">
    <div id="firstview__column" class="col-md-10">
      <div class="firstview__introduction text-center lh-base">
        推しTubeは<span class="fw-semibold">時間指定のできるYouTubeブックマーク</span>です。<br>
        動画URLと再生を開始したい時間を登録すれば、<br>
        ボタン1つで見たい時間から何度でも再生できます。<br>
        <br>
        <span class="lh-lg">
          <i class="bi bi-check-lg"></i> 推しのこの瞬間を何度でも見たい！<br>
          <i class="bi bi-check-lg"></i> この曲のサビの部分を何度でも見たい！<br>
          <i class="bi bi-check-lg"></i> 勉強中にこの動画のこの部分を何度も見て復習したい！<br>
        </span>
        <br>
        そんなときにぜひご活用ください！<br>
        <br>
        <%= button_to "登録せずに使う（ゲストログイン）", users_guest_sign_in_path, data: { turbo_method: :post }, class: "btn btn-light shadow-sm" %>
      </div>
    </div>
  </div>
</div>
