/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');
@import "font-awesome";

body {
  color: #333333;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #333333;
}

h1 {
  font-size: 1.5rem;
}

.field_with_errors {
  display: contents;
}

.validation {
  font-size: 0.9em;
}

.required {
  color: #D39388;
}

 /* ヘッダー */
.header {
  padding:0 50px;
  background-color: #fff;
  height: 70px;
  border-bottom: 1px solid #E7E7E9;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin-inline: auto;
}

.header__dropdown-menu-button,
.header__login-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

.header__registration-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #E1B5AD;
  --bs-btn-border-color: #E1B5AD;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #D39388;
  --bs-btn-hover-border-color: #D39388;
  --bs-btn-focus-shadow-rgb: #D39388;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #D39388;
  --bs-btn-active-border-color: #D39388;
}

.header__link {
  display: flex;
  width: fit-content;
}

.dropdown-menu {
  --bs-dropdown-border-color: #DFCDBA;
  --bs-dropdown-min-width: 12rem
}

.dropdown-menu li:hover {
  background-color: #F5EFE8;
  border-color: #F5EFE8;
  border-radius: 8px;
}

.header__dropdown--pc .btn:hover {
  background-color: #F5EFE8;
  border-color: #F5EFE8;
  border-radius: 8px;
}

.header__logo {
  height: 60px;
  width: auto;
}

@media screen and (min-width: 835px) {
  .header__dropdown--mobile {
    display: none;
  }

  .header__logo--mobile {
    display: none;
  }
}

@media screen and (max-width: 834px) {
  .header {
    padding: 0 15px ;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    position: fixed;
  }

  .header__dropdown--pc {
    display: none;
  }

  .page__container {
    padding-top: 70px;
  }

  .header__logo--pc {
    display: none;
  }
}

/* deviseエラーメッセージ・エラーメッセージ */
.devise__error-messages ul,
.error-messages ul {
  padding: 0;
  color: #C16656;
}

.devise__error-messages li,
.error-messages li {
  list-style: none;
}

.alert-message {
  color: #C16656;
}

 /* ファーストビュー */
.firstview-title {
  font-size: 28px;
}

.firstview__introduction-container .bi::before {
  font-size: 1.5em;
  color: #D39388;
}

.firstview__video-title {
  font-size: 18px;
}

.firstview__introduction-table {
  width: fit-content;
  margin-inline: auto;
}

.firstview__login {
  display: flex;
  justify-content: center;
}

/* ログイン・新規登録・プロフィール編集・ユーザー情報変更 */
#login__box,
#registration__box,
#profile-edit__box,
#user-edit__box,
#password-new__box,
#password-edit__box {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  height: fit-content;
  border: 1px solid #ABA8B1;
  border-radius: 8px;
  background-color: #F0F0F1;
}

#registration__form,
#profile-edit__form,
#user-edit__form,
#password-new__form,
#password-edit__form {
  padding: 20px;
}

#login__form {
  padding: 20px 20px 0;
}

.login__button,
.registration__button,
.profile-edit__button,
.user-edit__button,
.password-new__button,
.password-edit__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

.login__link {
  padding: 0 20px 20px;
}

/* プロフィール */
.profile-show__icon {
  width: 150px;
  height: auto;
  margin-inline: auto;
}

.profile-show__username {
  font-size: 20px;
  font-weight: bold;
}
.profile-show__link {
  font-size: 14px;
}

/* 退会 */
.user-confirm__text {
  width: fit-content;
  margin-inline: auto;
}

.user-confirm__withdrawal-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #E5C0BA;
  --bs-btn-border-color: #E5C0BA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #D89E94;
  --bs-btn-hover-border-color: #D89E94;
  --bs-btn-focus-shadow-rgb: #D89E94;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #D89E94;
  --bs-btn-active-border-color: #D89E94;
}

.user-confirm__back-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #F5EFE8;
  --bs-btn-border-color: #F5EFE8;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #EFE6DD;
  --bs-btn-hover-border-color: #EFE6DD;
  --bs-btn-focus-shadow-rgb: #EFE6DD;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #EFE6DD;
  --bs-btn-active-border-color: #EFE6DD;
}

/* ブックマーク一覧 */
.bookmark {
  text-decoration: none;
}

.bookmark__video-thumbnail {
  max-width: 100%;
  margin-inline: auto;
}

.bookmark__list .list-group-item {
  background-color: #EFE6DD;
  border: #EFE6DD;
}

/* ブックマーク登録・編集 */
#bookmark-new__box,
#bookmark-edit__box {
  margin-top: 20px;
  margin-inline: auto;
  height: fit-content;
  border-radius: 8px;
}

#bookmark-new__form,
#bookmark-edit__form {
  padding: 20px;
}

.bookmark-new__button,
.bookmark-edit__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

.bookmark-new__category-button,
.bookmark-edit__category-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #E7E7E9;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #DFCDBA;
  --bs-btn-hover-border-color: #DFCDBA;
  --bs-btn-focus-shadow-rgb: #DFCDBA;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #DFCDBA;
  --bs-btn-active-border-color: #DFCDBA;
}

/* ブックマーク詳細 */
#bookmark-video {
  max-width: 856px;
  max-height: 482px;
}

@media screen and (max-width: 834px) {
  #bookmark-video {
    max-width: 560px;
    max-height: 315px;
  }
}

.accordion {
  --bs-accordion-active-bg: #EFE6DD;
  --bs-accordion-border-color: #EFE6DD;
  --bs-accordion-btn-focus-border-color: #EFE6DD;
  --bs-accordion-btn-color: #333333;
  --bs-accordion-active-color: #333333;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button {
  background-color: #EFE6DD;
}

.bookmark-show__recommendation {
  font-size: 0.8em;
}

.bookmark-show__video-description {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap; /* Preserve whitespace and wrap text */
}

/* ブックマーク編集 */
.bookmark-edit__flash-message {
  padding: 0;
  color: #C16656;
}

.bookmark-edit__video-container #bookmark-video {
  margin-inline: auto;
  width: 100%;
}

/* ブックマーク詳細・編集・ユーザーページ */
@media screen and (max-width: 834px) {
  #bookmark-show,
  #bookmark-edit,
  #profile-show {
    margin-top: 10px;
  }
}

/* タイムスタンプ一覧 */
.timestamps__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #EFE6DD;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #EFE6DD;
  --bs-btn-hover-border-color: #EFE6DD;
  --bs-btn-focus-shadow-rgb: #EFE6DD;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #EFE6DD;
  --bs-btn-active-border-color: #EFE6DD;
}

.timestamps-table {
  width: 100%;
}

.timestamps__td1 {
  width: 0;
  white-space: nowrap;
}

.timestamps__td2 {
  width: 100%;
}

.timestamps__td3,
.timestamps__td4 {
  width: 0;
  white-space: nowrap;
}

/* タイムスタンプ作成・編集 */
.timestamps-new__button,
.timestamps-edit__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

/* カテゴリー一覧・作成・編集 */
.categories__button,
.categories-new__button,
.categories-edit__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #F5EFE8;
  --bs-btn-border-color: #F5EFE8;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #DFCDBA;
  --bs-btn-hover-border-color: #DFCDBA;
  --bs-btn-focus-shadow-rgb: #DFCDBA;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #DFCDBA;
  --bs-btn-active-border-color: #DFCDBA;
}

/* カテゴリー削除 */
.categories-edit__delete-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #E5C0BA;
  --bs-btn-border-color: #E5C0BA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #D89E94;
  --bs-btn-hover-border-color: #D89E94;
  --bs-btn-focus-shadow-rgb: #D89E94;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #D89E94;
  --bs-btn-active-border-color: #D89E94;
}

/* ページネーション */
.pagination li a {
  border: none;
  color: black;
}

.page-item.active .page-link {
  color: black;
  background-color: #fff;
}

/* 検索 */
.search__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #F5EFE8;
  --bs-btn-border-color: #F5EFE8;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #DFCDBA;
  --bs-btn-hover-border-color: #DFCDBA;
  --bs-btn-focus-shadow-rgb: #DFCDBA;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #DFCDBA;
  --bs-btn-active-border-color: #DFCDBA;
}

.login__google-login-button {
  padding: 0;
  color: #333333;
}
