/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ヘッダー */
 .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 50px;
  background-color: #FE5E5E;
  height: 70px
 }

 /* ファーストビュー */
 .firstview-title {
  text-align: center;
 }

 /* 新規登録・ログイン・ユーザー情報変更 */
 .registrations-sessions-container {
  margin-inline: auto;
  align-items: center;
  width: fit-content;
 }

/* プロフィール */
.profile-icon {
  width: 150px;
  height: auto;
}
