/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  color: #333333;
  font-family: sans-serif;
}

a {
  color: #333333;
}

 /* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 50px;
  background-color: #fff;
  height: 100px;
  border-bottom: 1px solid #E7E7E9;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 10px ;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
  }

  .page__container {
    padding-top: 100px;
  }

  .header__registration-button, .header__login-button {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: var(--bs-border-radius-sm);
  }
}

.header__dropdown-menu-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

.header__registration-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #E1B5AD;
  --bs-btn-border-color: #E1B5AD;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #D39388;
  --bs-btn-hover-border-color: #D39388;
  --bs-btn-focus-shadow-rgb: #D39388;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #D39388;
  --bs-btn-active-border-color: #D39388;
}

.header__login-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

.header__link {
  display: flex;
  width: fit-content;
}

 /* フラッシュメッセージ */
.flashmessage {
  text-align: center;
  display: block;
  margin: 10px;
  margin-inline: auto;
}

/* devise エラーメッセージ */
#devise__error-messages  ul {
  padding: 0;
  color: #C16656;
}

#devise__error-messages li {
  list-style: none;
}

/* エラーメッセージ */
#error-messages  ul {
  padding: 0;
  color: #C16656;
}

#error-messages li {
  list-style: none;
}

 /* ファーストビュー */
.firstview-title {
  text-align: center;
}

/* ログイン */
#login__box {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  height: fit-content;
  border: 1px solid #ABA8B1;
  border-radius: 8px;
  background-color: #F0F0F1;
}

#login__form {
  padding: 20px;
}

.login__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

/* 新規登録 */
#registration__box {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  height: fit-content;
  border: 1px solid #ABA8B1;
  border-radius: 8px;
  background-color: #F0F0F1;
}

#registration__form {
  padding: 20px;
}

.registration__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

/* プロフィール */
.profile-show__icon {
  width: 150px;
  height: auto;
  margin-inline: auto;
}

.profile-show__username {
  font-size: 20px;
  font-weight: bold;
}
.profile-show__link {
  font-size: 14px;
}

/* プロフィール編集 */
#profile-edit__box {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  height: fit-content;
  border: 1px solid #ABA8B1;
  border-radius: 8px;
  background-color: #F0F0F1;
}

#profile-edit__form {
  padding: 20px;
}

.profile-edit__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

/* ユーザー情報変更 */
#user-edit__box {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  height: fit-content;
  border: 1px solid #ABA8B1;
  border-radius: 8px;
  background-color: #F0F0F1;
}

#user-edit__form {
  padding: 20px;
}

.user-edit__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

/* 退会 */
.user-confirm__text {
  width: fit-content;
  margin-inline: auto;
}

.user-confirm__withdrawal-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #E5C0BA;
  --bs-btn-border-color: #E5C0BA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #D89E94;
  --bs-btn-hover-border-color: #D89E94;
  --bs-btn-focus-shadow-rgb: #D89E94;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #D89E94;
  --bs-btn-active-border-color: #D89E94;
}

.user-confirm__back-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #F5EFE8;
  --bs-btn-border-color: #F5EFE8;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #EFE6DD;
  --bs-btn-hover-border-color: #EFE6DD;
  --bs-btn-focus-shadow-rgb: #EFE6DD;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #EFE6DD;
  --bs-btn-active-border-color: #EFE6DD;

  background-color: #F5EFE8;
}

/* ブックマーク一覧 */
.bookmark__video-thumbnail {
  max-width: 100%;
  margin-inline: auto;
}

.bookmark__list .list-group-item {
  background-color: #EFE6DD;
  border: #EFE6DD;
}

/* ブックマーク登録 */
#bookmark-new__box {
  margin-top: 20px;
  margin-inline: auto;
  height: fit-content;
  border-radius: 8px;
}

#bookmark-new__form {
  padding: 20px;
}

.bookmark-new__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

.bookmark-new__category-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #E7E7E9;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #DFCDBA;
  --bs-btn-hover-border-color: #DFCDBA;
  --bs-btn-focus-shadow-rgb: #DFCDBA;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #DFCDBA;
  --bs-btn-active-border-color: #DFCDBA;
}

/* ブックマーク詳細 */
.bookmark-show__bookmark-timestamp-container {
  display: flex;
}

#bookmark-video {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 60%;
  max-width: 560px;
  max-height: 315px;
}

#bookmark-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bookmark-show__timestamps-list {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  max-height: 315px;
  overflow-y: scroll;
  margin-left: 8px;
}

.bookmark-show__description {
  margin-bottom: 48px;
}

@media screen and (min-width: 769px) {
  .bookmark-show__timestamps-list--mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .bookmark-show__bookmark-timestamp-container {
    display: block;
  }

  #bookmark-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 560px;
    max-height: 315px;
  }

  .bookmark-show__timestamps-list--pc {
    display: none;
  }

  .bookmark-show__description {
    margin-bottom: 10px;
  }

  .bookmark-show__timestamps-list--mobile {
    margin-bottom: 24px;
  }
}

.accordion {
  --bs-accordion-active-bg: #EFE6DD;
  --bs-accordion-border-color: #EFE6DD;
  --bs-accordion-btn-focus-border-color: #EFE6DD;
  --bs-accordion-btn-color: #333333;
  --bs-accordion-active-color: #333333;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button {
  background-color: #EFE6DD;
}

/* ブックマーク編集 */
#bookmark-edit__box {
  margin-top: 20px;
  margin-inline: auto;
  height: fit-content;
  border-radius: 8px;
}

#bookmark-edit__form {
  padding: 20px;
}

.bookmark-edit__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

.bookmark-edit__category-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #E7E7E9;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #DFCDBA;
  --bs-btn-hover-border-color: #DFCDBA;
  --bs-btn-focus-shadow-rgb: #DFCDBA;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #DFCDBA;
  --bs-btn-active-border-color: #DFCDBA;
}

/* タイムスタンプ作成 */
.timestamps-new__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #DFCDBA;
  --bs-btn-border-color: #DFCDBA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #CFB497;
  --bs-btn-hover-border-color: #CFB497;
  --bs-btn-focus-shadow-rgb: #CFB497;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #CFB497;
  --bs-btn-active-border-color: #CFB497;
}

/* カテゴリー一覧 */
.categories__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #F5EFE8;
  --bs-btn-border-color: #F5EFE8;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #DFCDBA;
  --bs-btn-hover-border-color: #DFCDBA;
  --bs-btn-focus-shadow-rgb: #DFCDBA;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #DFCDBA;
  --bs-btn-active-border-color: #DFCDBA;
}

/* カテゴリー作成 */
.categories-new__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #F5EFE8;
  --bs-btn-border-color: #F5EFE8;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #DFCDBA;
  --bs-btn-hover-border-color: #DFCDBA;
  --bs-btn-focus-shadow-rgb: #DFCDBA;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #DFCDBA;
  --bs-btn-active-border-color: #DFCDBA;
}

/* カテゴリー編集 */
.categories-edit__button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #F5EFE8;
  --bs-btn-border-color: #F5EFE8;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #DFCDBA;
  --bs-btn-hover-border-color: #DFCDBA;
  --bs-btn-focus-shadow-rgb: #DFCDBA;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #DFCDBA;
  --bs-btn-active-border-color: #DFCDBA;
}

/* カテゴリー削除 */
.categories-edit__delete-button {
  --bs-btn-color: #333333;
  --bs-btn-bg: #E5C0BA;
  --bs-btn-border-color: #E5C0BA;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #D89E94;
  --bs-btn-hover-border-color: #D89E94;
  --bs-btn-focus-shadow-rgb: #D89E94;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #D89E94;
  --bs-btn-active-border-color: #D89E94;
}

/* ページネーション */
.pagination li a {
  border: none;
  color: black;
}

.page-item.active .page-link {
  color: black;
  background-color: #fff;
}
