/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  color: #333333;
  font-family: sans-serif;
}

a {
  color: #333333;
}

 /* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 50px;
  background-color: #fff;
  height: 100px;
  border-bottom: 1px solid #E7E7E9;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  background-color: #DFCDBA;
  outline: none;
  box-shadow: none;
  border-color: #fff;
}

.header__dropdown-menu-button {
  background-color: #DFCDBA;
  outline: none !important;
  box-shadow: none !important;
}

.header__dropdown-menu-button:hover {
  background-color: #CFB497;
  outline: none !important;
  box-shadow: none !important;
}

.header__registration-button {
  background-color: #E1B5AD;
}

.header__registration-button:hover {
  background-color: #D39388;
}

.header__login-button {
  background-color: #DFCDBA;
}

.header__login-button:hover {
  background-color: #CFB497;
}

.header__link {
  display: flex;
  width: fit-content;
}

 /* フラッシュメッセージ */
.flashmessage {
  text-align: center;
  display: block;
  margin: 10px;
  margin-inline: auto;
}

 /* ファーストビュー */
.firstview-title {
  text-align: center;
}

/* ログイン */
#login__box {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  height: fit-content;
  border: 1px solid #ABA8B1;
  border-radius: 8px;
  background-color: #F0F0F1;
}

#login__form {
  padding: 20px;
}

.login__button {
  background-color: #DFCDBA;
}

.login__button:hover {
  background-color: #CFB497;
}

/* 新規登録 */
#registration__box {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  height: fit-content;
  border: 1px solid #ABA8B1;
  border-radius: 8px;
  background-color: #F0F0F1;
}

#registration__form {
  padding: 20px;
}

.registration__button {
  background-color: #DFCDBA;
}

.registration__button:hover {
  background-color: #CFB497;
}

/* プロフィール編集 */
#profile-edit__box {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  height: fit-content;
  border: 1px solid #ABA8B1;
  border-radius: 8px;
  background-color: #F0F0F1;
}

#profile-edit__form {
  padding: 20px;
}

.profile-edit__button {
  background-color: #DFCDBA;
}

.profile-edit__button:hover {
  background-color: #CFB497;
}

/* ユーザー情報変更 */
#user-edit__box {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  height: fit-content;
  border: 1px solid #ABA8B1;
  border-radius: 8px;
  background-color: #F0F0F1;
}

#user-edit__form {
  padding: 20px;
}

.user-edit__button {
  background-color: #DFCDBA;
}

.user-edit__button:hover {
  background-color: #CFB497;
}

/* ブックマーク詳細 */
.bookmark__bookmark-timestamp-container--pc {
  display: flex;
}

.timestamps-list {
  display: flex;
  flex-direction: column;
  height: 310px;
  overflow-y: scroll;
  margin-left: 8px;
}

.accordion {
  --bs-accordion-active-bg: #DFCDBA;
  --bs-accordion-border-color: #DFCDBA;
  --bs-accordion-btn-focus-border-color: #DFCDBA;
  --bs-accordion-btn-color: #333333;
  --bs-accordion-active-color: #333333;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button {
  background-color: #DFCDBA;
}

/* プロフィール */
.profile-icon {
  width: 150px;
  height: auto;
}

/* ページネーション */
.pagination li a {
  border: none;
  color: black;
}

.page-item.active .page-link {
  color: black;
  background-color: #fff;
}
