<p><%= @resource.name %>様</p>

<p>パスワードの再設定は下記URLのページより行ってください。<br>
有効期限は10分間です。</p>

<p><%= link_to "パスワードを変更する", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>上記内容に心当たりがない場合は、このメールは破棄してください。以降の対応は不要です。<br>
パスワードは上記URLで手続きをするまで変更されません。</p>
